@font-face { font-family: FutureKid; src: url('Fonts/FutureKid.ttf'); } 
body {
	background-color: #c2a2bd;
	margin: 0px;
}
h1 {
	font-size: 3vw;
	font-family: Fira Code;
	font-weight: 700;
	padding: 0px;
	margin: 0px;
}
h2 {
	font-size: 1.5vw;
	font-family: FutureKid;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
nav {
	text-align: center;
}
nav button {
	width: 16%;
	height: 80px;
}
.margins {
	margin: 10px;
}
.itemTitle {
	width: 100%;
	font-size: 3vw;
	font-family: Fira Code;
	font-weight: 700;
	text-align: center;
}
.column {
	float: left;
	height: 300px;
	font-size: 3vw;
	font-family: Fira Code;
	font-weight: 700;
}
.split {
	height: 80%;
	position: absolute;
	font-size: 3vw;
	font-family: Fira Code;
	font-weight: 700;
}
.left {
	width: 50%;
}
.right {
	width: 50%;
	right: 0px;
}
#randomise {
	font-size: 1.5vw;
	font-family: Fira Code;
	font-weight: 700;
	background-color: #fd9dd8;
	border: 2px solid #b647a4;
	border-top: 2px solid #f288ee;
	border-bottom: 2px solid #8a3984;
	outline: 2px solid black;
}
#randomise:hover {
	background-color: #f288ee;
	border-top: 2px solid #f8f8f8;
}
#block1Image, #block2Image, #spike1Image, #spike2Image, #bg1Image {
	width: 21%;
	height: auto;
	image-rendering: pixelated;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	z-index: 1;
}
#block1ImageUnfiltered, #block2ImageUnfiltered, #spike1ImageUnfiltered, #spike2ImageUnfiltered, #bg1ImageUnfiltered {
	width: 10.5%;
	height: auto;
	image-rendering: pixelated;
	left: 50%;
	top: 50%;
	transform: translate(-25%, -75%);
	position: relative;
	z-index: 2;
}
#jumpImage {
	height: 60%;
	max-width: 90%;
	width: auto;
	image-rendering: pixelated;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	z-index: 1;
}
#grid {
	width: 800px;
	height: 608px;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
}
#flagPos, #warpPos {
	position: absolute;
}
.slider {
	webkit-appearance: none;
	appearance: none;
	background: #7281a4;
	border-radius: 0;
	border: 1px solid black;
	height: 9px;
	width: 60%;
	left: 50%;
	top: 0%;
	transform: translate(-50%, -50%);
	position: relative;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 29px;
	border: 0;
	background-image: url('Resources/Slider.png');
}
.slider::-moz-range-thumb {
	width: 18px;
	height: 29px;
	border: 0;
	background-image: url('Resources/Slider.png');
}
.dropbtn {
	background-color: #fd9dd8;
	padding: 16px;
	font-size: 2vw;
	border: none;
	font-weight: 700;
	background-color: #fd9dd8;
	border: 2px solid #b647a4;
	border-top: 2px solid #f288ee;
	border-bottom: 2px solid #8a3984;
	outline: 2px solid black;
}
#dropdownButton {
	font-size: 2vw;
	font-family: Fira Code;
	font-weight: 700;
	background-color: #fd9dd8;
	border: 2px solid #b647a4;
	border-top: 2px solid #f288ee;
	border-bottom: 2px solid #8a3984;
	outline: 2px solid black;
	left: 50%;
	transform: translate(-50%);
	position: relative;
}
#dropdownButton:hover {
	background-color: #f288ee;
	border-top: 2px solid #f8f8f8;
}
.dropdown {
	position: relative;
	display: inline-block;
	left: 29%;
	transform: translate(-50%);
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fd9dd8;
	min-width: 160px;
	z-index: 1;
	font-weight: 700;
	background-color: #fd9dd8;
	border: 2px solid #b647a4;
	border-top: 2px solid #f288ee;
	border-bottom: 2px solid #8a3984;
	outline: 2px solid black;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #f288ee;
	border-top: 2px solid #f8f8f8;
}